<div class='container-fluid'>

<table class="table">
<form action='' method='get' id='list_task_form'>
<tr>
    
        <th>
            <label for="sU" class="sr-only">User:</label>
            <input name='search[user]' type="text" id="sU" class="form-control" placeholder='Filter by user...'>
        </th> 
            
        <th>
            <label for="sC" class="sr-only">Client:</label>
            <input name='search[client]' type="text" id="sC" class="form-control" placeholder='Filter by client...'>
        </th> 
        
        <th>
            <label for="sP" class="sr-only">Project:</label>
            <input name='search[project]' type="text" id="sP" class="form-control" placeholder='Filter by project...'>
        </th> 
        
        <th>
            <label for="sA" class="sr-only">Activity:</label>
            <input name='search[activity]' type="text" id="sA" class="form-control" placeholder='Filter by activity...'>
        </th> 
        
        <th>
            <button type='submit' class="btn btn-success"><span class='glyphicon glyphicon-search'></span></button>
        </th> 
        
        <th>
            TOTAL HOURS<br>
            <%=@hours%>
        </th> 
            
        <th>
            <button class="btn btn-success">CSV</button>
        </th>
</tr>
</form>
<tr>
        <th>
            User
        </th> 
            
        <th>
            Client
        </th> 
        
        <th>
            Project
        </th> 
        
        <th>
            Activity
        </th> 
        
        <th>
            Date
        </th> 
        
        <th>
            Hours
        </th> 
            
        <th>
            Notes
        </th>
        
    
</tr>
<%if @tasks%>
<%@tasks.each do |task|%>
<tr>
    <td><%=task.user.handle%></td>
    <td><%=task.client.name%></td>
    <td><%=task.project.name%></td>
    <td><%=task.activity.name%></td>
    <td><%=task.date%></td>
    <td><%=task.hours%></td>
    <td>
        <!-- Button trigger modal -->
        <button class="btn btn-default" data-toggle="modal" data-target="#notes<%=task.id%>"><span class='glyphicon glyphicon-file'></span></button>
        <!-- Modal -->
        <div class="modal fade" id="notes<%=task.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Notes</h4>
              </div>
              <div class="modal-body">
                  <%=task.notes%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </td>
    <td>
        <!-- Button trigger modal -->
        <button class="btn btn-warning" data-toggle="modal" data-target="#edit<%=task.id%>">Edit</button>
    </td>
    <td>
        <button class="btn btn-danger btn-fill" data-toggle="modal" data-target="#delete<%=task.id%>">Delete</button>
        <!-- Modal -->
        <div class="modal fade" id="#delete<%=task.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete task</h4>
              </div>
              <div class="modal-body">
                  Are you sure?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </td>
</tr>
<%end%>
<%end%>
</table>
<br>
</div>