<div class='container-fluid'>
<%if flash[:notice]%>
  <div class="alert alert-success alert-dismissible fade in" role="alert"> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <p><%=flash[:notice]%></p>
  </div>
<%end%>
<%if flash[:error]%>
  <div class="alert alert-danger alert-dismissible fade in" role="alert"> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <p><%=flash[:error]%></p>
  </div>
<%end%>


<div class='text-center'><button class="btn btn-block btn-success" data-toggle="modal" data-target="#user_new">Add a new user</button></div>

    <form action='create_user' method='post'>
      
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
    <div class="modal fade" id="user_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add user</h4>
          </div>
          <div class="modal-body">
              
              <div class="form-group">
                <label for="inputHandle">Handle:</label>
                <input name='user[handle]' type="text" id="inputHandle" class="form-control" required>
                <br>
              </div>
              <div class="form-group">
                <label for="inputPass">Password:</label>
                <input name='user[password]' type="password" id="inputHandle" class="form-control" required>
                <br>
              </div>
              <div class="form-group">
              <label class="checkbox" for="checkbox1">
  
                  <input type="checkbox" name='user[is_admin]' value="true" data-toggle="checkbox">
              
                  Admin
              
              </label>
              </div>
              
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <br><br>
          </div>
        </div>
      </div>
    </div>
    </form>
    
    
<table class="table" data-toggle="table">
<thead>
<tr>
  <th data-field="handle" data-sortable="true">
    Handle
  </th>
  <th data-field="fname" data-sortable="true">
    First Name
  </th>
  <th data-field="lname" data-sortable="true">
    Last Name
  </th>
  <th data-field="email" data-sortable="true">
    Email
  </th>
  <th data-field="whatsapp" data-sortable="true">
    Whatsapp
  </th>
  <th data-field="tel" data-sortable="true">
    Telephone
  </th>
  <th data-field="edit" data-sortable="false">
  </th>
  <th data-field="vass" data-sortable="false">
  </th>
  <th data-field="permissions" data-sortable="false">
  </th>
  <th data-field="delete" data-sortable="false">
  </th>
</tr>
</thead>
<tbody>
<%@users.each do |user|%>
    <%if user==current_user%>
    <%else%>
    <tr>
      <td>
        <%=user.handle%>
      </td>
      <td>
        <%=user.first_name%>
      </td>
      <td>
        <%=user.last_name%>
      </td>
      <td>
        <%=user.email%>
      </td>
      <td>
        <%=user.whatsapp%>
      </td>
      <td>
        <%=user.tel%>
      </td>
      <td>
        <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#edit<%=user.id%>">Edit</button>
      </td>
      <td>
        <button class="btn btn-default btn-block" data-toggle="modal" data-target="#vass<%=user.id%>">View assignments</button>
      </td>
      <td>
        <button class="btn btn-warning btn-fill btn-block" data-toggle="modal" data-target="#permissions<%=user.id%>">Permissions</button>
      </td>
      <td>
        <button class="btn btn-danger btn-fill btn-block" data-toggle="modal" data-target="#delete<%=user.id%>">Delete</button>
      </td>
    </tr>
    <%end%>
<%end%>
</tbody>
</table>


</div>
</div>